{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}

<div class="container">
    <div class="border border-box-auto m-3 p-3">
        <h1>{{see.name}}</h1>
        <p>by {{see.user}}</p>
        <div class="row">
            <div class="col-auto">
                <img src="{{ see.image.url }}" style="height:300px; width: 400px" alt="{{ see.name }}">
            </div>
            <div class="col">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope='row'>Category</th>
                            <td>{{see.category}}</td>
                        </tr>
                        <tr>
                            <th scope='row'>Description</th>
                            <td>{{see.description}}</td>
                        </tr>
                        <tr>
                            <th scope='row'>Price</th>
                            <td>{{see.price}}</td>
                        </tr>
                    </tbody>
                </table>
                {% if user.is_authenticated and user == see.user %}
                <a href="{% url 'closebid' pk=see.id %}">
                <button type="button" class="btn btn-danger">Close Auction</button>
                </a>
                {% elif user.is_authenticated and not w_s %}
                <a href="{% url 'add_to_w' pk=see.id %}">
                <button type="submit" class="btn btn-success">Add To WatchList</button>
                </a>
                {% else %}
                <a href="{% url 'add_to_w' pk=see.id %}">
                <button type="submit" class="btn btn-success">Remove from WatchList</button>
                </a>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-5 border border-box m-3">
                <h3>Comments</h3>
                {% for comment in see.comment.all %}
                <h5>{{comment.content}}</h5>
                <p>Wrote by <strong>{{ comment.author }}</strong>  the {{comment.date}}</p>
                {% empty %}
                <p>No comments</p>
                {% endfor %}
            </div>
            {% if user.is_authenticated %}
            <div class="col">
                <h3>Do your Bid !</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Initial Price</th>
                            <th scope="col">Actual Price</th>
                            <th scope="col">Your Bid</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{see.init_price}}</td>
                            <td>{{see.price}}</td>
                            <td>
                                <form action="{% url 'addbid' pk=see.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="number" name="bid" class="form-control" placeholder="Your Bid" required>
                                    <input type="hidden"  name="owner" value={{user.pk}}>
                                    <input type="submit" class="btn btn-primary" value="Bid!" style="width: 300px; height: 50px;">
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-info" role="alert">
                    <p>Last bid by <strong>-{{user_bid.username}}</strong> at <strong>-{{bid_see.date}}</strong></p>
                </div>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-5">
                <form action="{% url 'addcomment' pk=see.id %}" method="post">
                    {% csrf_token %}  
                    <input class="form-control" name="comment" type="text" placeholder="Your message">
                    <input type="hidden"  name="owner" value={{user.pk}}>
                    <input type="hidden"  name="author" value={{user}}>
                    <input class="btn btn-success" type="submit" value="Add comment">
                </form>
            </div>
        </div>
        {% else %}
        <a href="{% url 'login' %}">
            <button type="button" class="btn btn-info m-5">You most be login to comment or do a bid!</button>
        </a>
        {% endif %}
    </div>

{% endblock %}