{% extends "auctions/layout.html" %}
{% load static %}
{% load tag_library %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <h1>Closed Listings</h1>
    </div>
    {% for auctions in all_a %}
        <div class="border border-box-auto m-3 p-3">
            <h3>{{auctions.name}}</h3>
            <p>by {{auctions.user}}</p>
            <div class="row">
                <div class="col-auto">
                    <img src="{{ auctions.image.url }}" style="height:300px; width: 400px" alt="{{ auctions.name }}">
                </div>
                <div class="col-6">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope='row'>Category</th>
                                <td>{{auctions.category}}</td>
                            </tr>
                            <tr>
                                <th scope='row'>Description</th>
                                <td>{{auctions.description}}</td>
                            </tr>
                            <tr>
                                <th scope='row'>Price</th>
                                <td>{{auctions.price}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% for bidd in bids %}
                {% if bidd.auc_id == auctions.id %}
                    {% for win in user_bids %}
                        {% if win.id|to_int == bidd.user|to_int %}
                        <div class="alert alert-danger m-3" role="alert">
                            Auction Closed at <strong>{{bidd.date}}</strong>  -  Winner by: <strong>{{win.username}}</strong>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% empty %}
            {% endfor %}
        </div>
    {% empty %}
    <h2>None auctions Closed</h2>
    {% endfor %}
</div>
{% endblock %}