{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <h1>Active Listings</h1>
        </div>
        {% for auctions in all_a %}
            {% if auctions.state %}
            <a href="{% url 'see_auction' pk=auctions.id %}" class="nav-link">
            <div class="border border-box-auto m-3 p-3">
                <h3>{{auctions.name}}</h3>
                <p>by <strong>{{auctions.user}}</strong></p>
                <div class="row">
                    <div class="col-auto">
                        <img class="listing" src="{{ auctions.image.url }}" alt="{{ auctions.name }}">
                    </div>
                    <div class="col-6">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th class="char" scope='row'>Category</th>
                                    <td>{{auctions.category}}</td>
                                </tr>
                                <tr>
                                    <th scope='row'>Description</th>
                                    <td>{{auctions.description}}</td>
                                </tr>
                                <tr>
                                    <th scope='row'>Price</th>
                                    <td>{{auctions.price}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </a>
            {% endif %}
        {% empty %}
        <h2>None auctions</h2>
        <p>Login to create or bit an auction</p>
        {% endfor %}
    </div>
{% endblock %}